
{% extends 'base.html' %}

{% block title %} Portfolio - My Website {% endblock title %}

{% block portfolioactive %}menu-active{% endblock portfolioactive %}

{% block body %}


{% load static %}
   

<section id="intro" style="background: url('static/img/bg/home.jpg') top center;width: 100%;height: 100vh;  
  background-size: cover; overflow: hidden; position: relative;z-index:10">
  <div class="intro-container wow fadeIn">
    <h1 class="mb-4 pb-0">Welcome to<br><span>My Portfolio</span></h1>
   
    <a href="#aboutsection" class="about-btn scrollto">About Me</a>
  </div>
</section>
  <section id="aboutsection">
    <div class="page-content">
      <div class="container-fluid px-0">
         <div class="resume-container">
            <div class="shadow-1-strong bg-white" id="intro">
               <div class="bg-info text-white">
                  <div class="cover bg-image">
                     <!-- <img src="images/diablobg.jpg"/> -->
                     <div class="mask" style="background-color: rgba(0, 0, 0, 0.7);backdrop-filter: blur(2px);">
                        <div class="text-center" style="padding: 2.5rem!important;">
                           <div class="avatar p-1"><img class="img-thumbnail shadow-4-strong rounded-circle"
                                 src="{% static 'img/myimg.jpg' %}" width="160" height="160" />
                              <div class="circle" style="animation-delay: -3s"></div>
                              <div class="circle" style="animation-delay: -2s"></div>
                              <div class="circle" style="animation-delay: -1s"></div>
                              <div class="circle" style="animation-delay: 0s"></div>
                           </div>
                           <div class="header-bio mt-3">
                              <div data-aos="zoom-in" data-aos-delay="0">
                                 <h2 class="h1">Brook Taylor</h2>
                                 <p>Django Developer</p>
                              </div>
                              <div class="header-social mb-3 d-print-none" data-aos="zoom-in" data-aos-delay="200">
                                 <nav role="navigation">
                                    <ul class="nav justify-content-center">
                                       <li class="nav-item"><a class="nav-link" href="#"
                                             title="Github"><i class="fab fa-github"></i><span
                                                class="menu-title sr-only">Github</span></a>
                                       </li>
                                       <li class="nav-item"><a class="nav-link"
                                             href="#" title="LinkedIn"><i
                                                class="fab fa-linkedin-in"></i><span
                                                class="menu-title sr-only">LinkedIn</span></a>
                                        
                                    </ul>
                                 </nav>
                              </div>
                              <div class="d-print-none"><a
                                    class="fancyButton btn btn-outline-light btn-lg shadow-sm mt-1 me-3"
                                    href="#" data-aos="fade-right"
                                    data-aos-delay="700">Download CV</a>
                                 <a class="fancyButton btn btn-default rex-primary-btn-effect-No btn btn-info btn-lg shadow-sm mt-1"
                                    href="/contact" data-aos="fade-left" data-aos-delay="700">Contact Me</a>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="shadow-2-strong  p-5 text-white bg-matte" id="about">
               <div class="about-section">
                  <div class="row ">
                     
                     <div class="col-md-6 mx-auto">
                        <h2 class="h2 fw-dark text-center ">About Me</h2>
                        <table id="about-text">
                           <caption></caption>
                           <th id="th-about-me"></th>
                           <tr>
                              <td>
                                 <br />
                                 <i class="fas fa-graduation-cap text-white"> </i>
                              </td>
                              <td>
                                 <br />
                                 B.Tech in Computer Science & Engineering  .
                              </td>
                           </tr>
                           <tr>
                              <td>
                                 <br />
                                 <i class="fas fa-laptop-code text-white"> </i>
                              </td>
                              <td>
                                 <br />
                                  Data Structures, Algorithms &  
                                Web
                                 Development 
                              </td>
                           </tr>
                           <tr>
                              <td>
                                 <br />
                                 <i class="fas fa-code text-white"> </i>
                              </td>
                              <td>
                                 <br />
                                 I’m currently working on  React ,  JavaScript, Python ,Django .
                                 
                              </td>
                           </tr>
                        
                           <br />
                          
                        </table>
                     </div>
                  </div>
               </div>
            </div>
            <div class="shadow-1-strong bg-cublue p-4 text-white" id="skills">
               <div class="skills-section">
                  <h2 class="h2 fw-light mb-4">Professional Skills</h2>
                  <div class="row">
                     <div class="col-md-4">
                        <div class="mb-4">
                           <span class="fw-bolder">C</span>
                           <div class="progress my-2 rounded" style="height: 20px">
                              <div class="progress-bar bg-secondary" role="progressbar" data-aos="zoom-in-right"
                                 data-aos-delay="400" data-aos-anchor=".skills-section" style="width: 75%"
                                 aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                           </div>
                        </div>
                        <div class="mb-4">
                           <span class="fw-bolder">Java</span>
                           <div class="progress my-2 rounded" style="height: 20px">
                              <div class="progress-bar bg-secondary" role="progressbar" data-aos="zoom-in-right"
                                 data-aos-delay="400" data-aos-anchor=".skills-section" style="width: 80%"
                                 aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"> </div>
                           </div>
                        </div>
                        <div class="mb-4">
                           <span class="fw-bolder">Python</span>
                           <div class="progress my-2 rounded" style="height: 20px">
                              <div class="progress-bar bg-secondary" role="progressbar" data-aos="zoom-in-right"
                                 data-aos-delay="500" data-aos-anchor=".skills-section" style="width: 80%"
                                 aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"> </div>
                           </div>
                        </div>
                        <div class="mb-4">
                           <span class="fw-bolder">JavaScript</span>
                           <div class="progress my-2 rounded" style="height: 20px">
                              <div class="progress-bar bg-secondary" role="progressbar" data-aos="zoom-in-right"
                                 data-aos-delay="600" data-aos-anchor=".skills-section" style="width: 70%"
                                 aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"> </div>
                           </div>
                        </div>
                      
                     </div>
                     <div class="col-md-4">
                        <div class="mb-4">
                           <span class="fw-bolder">HTML5</span>
                           <div class="progress my-2 rounded" style="height: 20px">
                              <div class="progress-bar bg-primary" role="progressbar" data-aos="zoom-in-right"
                                 data-aos-delay="100" data-aos-anchor=".skills-section" style="width:85%;"
                                 aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"> </div>
                           </div>
                        </div>
                        <div class="mb-4">
                           <span class="fw-bolder">CSS3</span>
                           <div class="progress my-2 rounded" style="height: 20px">
                              <div class="progress-bar bg-primary" role="progressbar" data-aos="zoom-in-right"
                                 data-aos-delay="200" data-aos-anchor=".skills-section" style="width: 70%"
                                 aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"> </div>
                           </div>
                        </div>
                        <div class="mb-4">
                           <span class="fw-bolder">Bootstrap 5</span>
                           <div class="progress my-2 rounded" style="height: 20px">
                              <div class="progress-bar bg-primary" role="progressbar" data-aos="zoom-in-right"
                                 data-aos-delay="300" data-aos-anchor=".skills-section" style="width: 80%"
                                 aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"> </div>
                           </div>
                        </div>
                        <div class="mb-4">
                           <span class="fw-bolder">React</span>
                           <div class="progress my-2 rounded" style="height: 20px">
                              <div class="progress-bar bg-primary" role="progressbar" data-aos="zoom-in-right"
                                 data-aos-delay="300" data-aos-anchor=".skills-section" style="width: 75%"
                                 aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"> </div>
                           </div>
                        </div>
    
                     </div>
                     <div class="col-md-4">
                        <div class="mb-4">
                           <span class="fw-bolder">Django</span>
                           <div class="progress my-2 rounded" style="height: 20px">
                              <div class="progress-bar bg-tertiary" role="progressbar" data-aos="zoom-in-right"
                                 data-aos-delay="400" data-aos-anchor=".skills-section" style="width: 90%"
                                 aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"> </div>
                           </div>
                        </div>
                        <div class="mb-4">
                           <span class="fw-bolder">GitHub</span>
                           <div class="progress my-2 rounded" style="height: 20px">
                              <div class="progress-bar bg-tertiary" role="progressbar" data-aos="zoom-in-right"
                                 data-aos-delay="400" data-aos-anchor=".skills-section" style="width: 60%"
                                 aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"> </div>
                           </div>
                        </div>
                        <div class="mb-4">
                           <span class="fw-bolder"> Machine learning</span>
                           <div class="progress my-2 rounded" style="height: 20px">
                              <div class="progress-bar bg-tertiary" role="progressbar" data-aos="zoom-in-right"
                                 data-aos-delay="500" data-aos-anchor=".skills-section" style="width: 50%"
                                 aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"> </div>
                           </div>
                        </div>
                        <div class="mb-4">
                           <span class="fw-bolder">TailWind CSS</span>
                           <div class="progress my-2 rounded" style="height: 20px">
                              <div class="progress-bar bg-tertiary" role="progressbar" data-aos="zoom-in-right"
                                 data-aos-delay="500" data-aos-anchor=".skills-section" style="width: 60%"
                                 aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"> </div>
                           </div>
                        </div>
                     </div>
                      
                  </div>
               </div>
            </div>

            <div class="shadow-1-strong bg-purple p-5 text-white" id="experience">
               <div class="work-experience-section">
                  <h2 class="h2 fw-light mb-4">Experience</h2>
                  <div class="timeline">
                     <div class="timeline-card-info" data-aos="fade-in" data-aos-delay="0">
                        <div class="timeline-head px-4 pt-3 d-flex">
                           <img class="org-logo" src="{% static 'img/experience/gssoc.png' %}" alt="" height="40px" width="40px"/>
                           <div class="h5">Backend Developer  <br /><span class="text-white h6">  Microsoft Corporation</span>
                           </div>
                        </div>
                        <div class="xp-body timeline-body px-4 pb-4">
                           <div class="text-white text-small mb-3"> May, 2021 - May-2022</div>
                           <div>
                              <ul>
                                 <li> Worked on teams for making rigid Backend logic.</li>
                                 <li> Managing all operations related to the Projects.</li>
                                 <li> Contributing on Windows 11 functionalities.</li>
                              </ul>
                           </div>
                        </div>
                     </div>
                     
                     <div class="timeline-card-info" data-aos="fade-in" data-aos-delay="0">
                        <div class="timeline-head px-4 pt-3 d-flex">
                           <img class="org-logo" src="{% static 'img/experience/gssoc.png' %}" alt="" height="45px" width="45px"/>
                           <div class="h5">Intern <br /><span class="text-white h6"> Flipkart</span>
                           </div>
                        </div>
                        <div class="xp-body timeline-body px-4 pb-4">
                           <div class="text-white text-small mb-3"> September, 2020 - December, 2020</div>
                           <div>
                              <ul>
                                 <li> Interaction with senior developers. </li>
                                 <li> Saw real database management patterns in code. </li>
                                 <li>  Develop a deep understanding of backend and frontend tasks.
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </div>
                      



                  </div>
               </div>
            </div>
            <div class="shadow-1-strong bg-olive p-5 text-white" id="education">
               <div class="education-section">
                  <h2 class="h2 fw-light mb-4">Education</h2>
                  <div class="timeline">
                     <div class="timeline-card timeline-card-success" data-aos="fade-in" data-aos-delay="0">
                        <div class="timeline-head px-4 pt-3">
                           <div class="h5">B. Tech in Computer Science & Engineering <br /><span
                                 class="text-white h6">Harvard University </span>
                           </div>
                        </div>
                        <div class="timeline-body px-4 pb-4">
                           <div class="text-white text-small mb-3">2017 - 2021 | Cambridge, USA</div>
                           <div>
                              
                           </div>
                        </div>
                     </div>
                      
                     <div class="timeline-card timeline-card-success" data-aos="fade-in" data-aos-delay="400">
                        <div class="timeline-head px-4 pt-3">
                           <div class="h5">High School <br /><span class="text-white h6"> AMERICAN PUBLIC SCHOOL</span>
                           </div>
                        </div>
                        <div class="timeline-body px-4 pb-4">
                           <div class="text-white text-small mb-3">2016</div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
           
            
         </div>
      </div>
   </div>
  </section>
   
{% endblock body %}


 
   